{{define "title"}}ACL{{end}}

{{define "content_menu"}}
<div class="row">
  <div class="col-sm-4 col-12">
    <h1>ACL / Topics</h1>
  </div>
  <div class="col-sm-8 col-12 text-sm-right">
    <p>
      <a href="/acls/add.html" class="btn btn-primary float-sm-none float-right ml-2">+ Add Acl</a>
    </p>
  </div>
</div>
{{end}}

{{define "content"}}

{{range .Content }}
<h2>{{.Resource.PatternType}}: {{.Resource.Name}}</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" class="text-center">Permissions</th>
      <th scope="col" class="text-center">Host</th>
    </tr>
  </thead>
  <tbody> 
    {{range .Users}}
    <tr class="row_link">
      <td>{{ .Principal }}</td>
      <td class="text-center">{{ .PermissionType}} {{.Operation}}</td>
      <td class="text-center">{{.Host}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
{{end}}
