{{define "title"}}Consumer groups{{end}}

{{define "content_menu"}}
<div class="row">
  <div class="col-sm-4 col-12">
    <h1>Consumer groups</h1>
  </div>
</div>
{{end}}

{{define "content"}}
<div class="row">
  <div class="col-md-12">
    <table class="table" id="consumers">
      <thead>
        <tr>
          <th scope="col">Group</th>
          <th scope="col">Topics</th>
          <th scope="col">Lag</th>
          <th scope="col">Number of clients</th>
        </tr>
      </thead>
      <tbody>
        {{ $groups := .Content }}
        {{range $k,$v:= .Content}}
        <tr>
          <td><a href="/consumer_groups/{{$k}}">{{ $k }}</a></td>
          <td>{{ $groups.Topics $k }}</td>
          <td>{{ $groups.Lag $k }}</td>
          <td>{{ $groups.NumberConsumers $k }}</td>
        </tr>
        {{else}}
        <tr>
          <td colspan="4" class="text-center">
            <strong>No consumer groups</strong>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  {{end}}
