{{define "title"}}Topic {{.Content.Name}}{{end}}

{{define "content_menu"}}
<div class="row">
  <div class="col-4">
    <h1><a href="/topics">Topics</a> / {{.Content.Name}} </h1>
  </div>
  <div class="col-8">
    {{/* <a href="/topics/{{.Content.Name}}/browse" class="btn btn-sm btn-primary float-right">Browse</a> */}}
    <a href="/topics/{{.Content.Name}}/edit" class="btn btn-sm btn-primary float-right edit">Edit configuration</a>
    {{/* <a href="/topics/{{.Content.Name}}/.........." class="btn btn-sm btn-primary float-right edit">Update replica assignments</a> */}}
  </div>
</div>
{{end}}

{{define "content"}}
<div class="row">
  <div class="col-md-6 col-lg-4">
    <div class="box box-w-header">
      <div class="box-header">
        <h2>
          Overview
        </h2>
      </div>
      <div class="box-body p-0">
        <div class="clearfix">
          <table class="table">
            <tbody id="topic-overview">
              <tr>
                <td>Partitions</td>
                <td class="text-right">{{len .Content.Partitions}}</td>
              </tr>
              <tr>
                <td>Replication Factor</td>
                <td class="text-right">{{ len (index .Content.Partitions 0).Replicas }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="box box-w-header">
      <div class="box-header">
        <h2>
          Metrics
        </h2>
      </div>
      <div class="box-body p-0">
        <div class="clearfix">
          <table class="table">
            <tbody id="topic-overview">
              <tr>
                <td>Size</td>
                <td class="text-right">{{size .Content.Size}}</td>
              </tr>
              <tr>
                <td>Message count</td>
                <td class="text-right">{{number .Content.Messages }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="box box-w-header">
      <div class="box-header">
        <h2>Configuration</h2>
      </div>
      <div class="box-body p-0">
        <div class="clearfix">
          <table class="table">
            <tbody>
              {{range $k,$v := .Content.Config.Data}}
              <tr>
                <td>{{$k}}</td>
                <td class="text-right">{{$v}}</td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header text-center">
        <h2>Topic Input/Output</h2>
      </div>
      <div class="box-body input-output" data-throughput="/throughput?type=topic&topic={{.Content.Name}}" data-throughput-follow="/throughput/follow?type=topic&topic={{.Content.Name}}">
        <div id="axis0" class="chart-y-axis"></div>
        <div id="axis1" class="chart-y-axis"></div>
        <div id="chart"></div>
      </div>
    </div>
  </div>
</div>

<div class="box box-w-header">
  <div class="box-header">
    <h4>Partitions</h4>
  </div>
  <div class="box-body">

    <table class="table mt-2">
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col" class="text-center">Leader</th>
          <th scope="col" class="text-center">Replicas</th>
          <th scope="col" class="text-center">In Sync Replicas</th>
          <th scope="col" class="text-center">Size</th>
          <th scope="col" class="text-center">Start Offset</th>
          <th scope="col" class="text-center">End Offset</th>
        </tr>
      </thead>
      <tbody>
        {{range $i,$p := .Content.Partitions}}
        <tr>
          <td>{{ $i }}</td>
          <td class="text-center">{{ $p.Leader }}</td>
          <td class="text-center">{{commaList $p.Replicas }}</td>
          <td class="text-center">{{commaList $p.ISR }}</td>
          <td class="text-center">{{size (index $p.Metrics "Size") }} </td>
          <td class="text-center">{{number (index $p.Metrics "LogStartOffset") }} </td>
          <td class="text-center">{{number (index $p.Metrics "LogEndOffset") }} </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    <hr />
    <form action="/topics/{{.Content.Name}}/add_partitions" method="post">
      <div class="col-md-2 mb-3">
        <label for="par_count">
          <h6>Increase partition count</h6>
        </label>
        <input id="par_count" name="count" type="number" required min="{{len .Content.Partitions}}" pattern="\d+" class="form-control">
      </div>
      <div class="col-md-2 mb-3">
        <button type="submit" class="btn btn-lg btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form  method="post" action="/topics/{{.Content.Name}}/delete">
      <button class="btn btn-outline-secondary danger btn-w-icon float-sm-none float-right">
        <span class="icon"><img src="/static/assets/icons/trashcan.svg" /></span>
        <span>Delete topic</span>
      </button>
    </form>
  </div>
</div>

{{end}}

{{define "js"}}
<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/js/rickshaw.min.js"></script>
<script src="/static/js/throughput-chart.js"></script>
{{end}}
