.env
.DS_Store
bin
target
vendor
static/api
cloudkarafka-mgmt.linux
cloudkarafka-mgmt.tar*
cloudkarafka-mgmt
*.db
Gemfile.lock
.keystorepassword
clientkey.store
Gemfile.lock
.keystorepassword
clientkey.store

