 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - CloudKarafka Manager</title>
    <link rel="apple-touch-icon" href="/static/img/logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta property="og:title" content="The best management interface for Apache Kafka" />
    <meta name="author" content="84codes Team" />
    <meta property="og:locale" content="en_US" />
    <meta name="description" content="A brand new open source GUI for administrating your Apache kafka cluster" />
    <meta property="og:description" content="A brand new open source GUI for administrating your Apache kafka cluster" />
    <meta property="og:site_name" content="CloudKarafka Manager" />
    <meta property="og:image" content="/static/assets/og-kafka-mgmt.png" />
  </head>
  <body class="login">
    <main class="login-container">
      <div class="box">
        <div class="box-header text-center">
          <div class="app-logo">
            <img alt="Logo" src="/static/assets/mgmt-logo.svg"/>
            <h1 class="logo-text">Cloudkarafka Manager</h1>
          </div>
        </div>
        <div class="box-body">
          <div class="login-info">
            <h2 class="host">{{.Hostname}}</h2>
          </div>

          <form action="" method="post">
            <div class="form-group">
              <label for="kafka-username">Username</label>
              <input type="text" name="username" class="form-control" id="kafka-username">
            </div>
            <div class="form-group password mb-3">
              <label for="kafka-password">Password</label>
              <input type="password" name="password" class="form-control" id="kafka-password">
            </div>
            <div class="pt-3">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </form>
        </div>
      </div>
      <div class="fixed-bottom">
        <div class="container text-center">
          <footer>
            <p>
              CloudKarafka Manager is developed by
              <a href="http://www.84codes.com?ref=kafka-mgmt" target="_blank" class="producer-link">
                <img src="/static/assets/logo-84codes.svg" alt="Developed by 84codes" />
              </a> and released under
              <a href="https://opensource.org/licenses/Apache-2.0" class="footer-link" target="_blank">Apache 2.0 License</a>.
            </p>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>

