{{define "menu"}}
<div class="sidebar-info">
  <h2 class="host">{{.Hostname}}</h2>
  <p>{{.Username}}</p>
</div>
<nav class="sidebar-nav">
  <ul>
    <li class="">
      <a href="/">
        <span class="icon"><img src="/assets/icons/dashboard.svg" /></span>
        <span>Overview</span>
      </a>
    </li>
    <li class="">
      <a href="/topics">
        <span class="icon"><img src="/assets/icons/three-bars.svg" /></span>
        <span>Topics</span>
      </a>
    </li>
    <li class="">
      <a href="/consumers">
        <span class="icon"><img src="/assets/icons/pacman.svg" /></span>
        <span>Consumers</span>
      </a>
    </li>
    <li class="">
      <a href="/brokers">
        <span class="icon"><img src="/assets/icons/pulse.svg" /></span>
        <span>Brokers</span>
      </a>
    </li>
    <li class="">
      <a href="/admin">
        <span class="icon"><img src="/assets/icons/organization.svg" /></span>
        <span>Users</span>
      </a>
    </li>
    <li class="">
      <a href="/admin/acl">
        <span class="icon"><img src="/assets/icons/repo.svg" /></span>
        <span>ACL</span>
      </a>
    </li>
    <li class="">
      <a href="/config">
        <span class="icon"><img src="/assets/icons/tools.svg" /></span>
        <span>Configuration</span>
      </a>
    </li>
  </ul>
</nav>
{{end}}
